body {
  padding-bottom: 20px; 
  background-color: #121212;
  color:#fff;
  width:100%;
}

.light-mode{ 
  padding-bottom: 20px; 
  background-color: #fff;
  color:#000;
  width:100%;
}

.navbar {
  position:fixed;
  width: 100%;
  top:0%;
  margin-left: 0px;
  margin-bottom: 20px;
  background-color: #000;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(255, 255, 255);
  border: solid rgba(255,255,255);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgb(255, 255, 255), inset 0 .125em .5em rgba(255, 255, 255);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
/* estilização de botão de dark mode */


input[type="checkbox"]
{
  position:relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background: #121212;
  outline: none;
  border-radius: 15px;
  box-shadow: iinsert 0 0 5px rgba(0, 0, 0,2);
  transition: .5s;
}
 input:checked[type="checkbox"]{
  background: #fff;
 }
 
input[type="checkbox"]:before{
  content:'';
  position:absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .5s;
}

input:checked[type="checkbox"]:before{
  left:20px;
}

/* footer */

.nav-footer{
  color:#ededed;
}

.final{
  margin-left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.text-final{
  color:#fff;
}

.secao{
  padding-left: 100px;
}

/* portifolio */

.portifolio{
  color:#fff;
  padding-top:10px;
  margin-top:70px;
  height: 100px;
  width: 100%;
  background-image: url('imgs/fundo-roxo.png');
  background-size: 100%,100%;
}

.item-portifolio{
  width: 60%;
  margin-left: 17%;
  margin-top: 10%;
  margin-bottom: 10%;
}