/* ========== 
  ADICIONAR AQUI AS 
  CONFIGURAÇÕES RELACIONADAS AO
  TAMANHO DA TELA 
  ====== */

/* ======= MEDIA QUERIES ========= */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) {
  .fs-slide-1 {
    background-image: url(../images/s2.jpg);
    background-size: cover;
  }

  .navbar-logo {
    height: calc(var(--nex-base-size)*3.5 / (var(--nex-aspect-ratio)));
    max-height: 80px;
  }

  .navbar .navbar-header {
    margin-top: 0.5rem;
    margin-left: 3rem;
    margin-bottom: 0.5rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .fs-slide-1 {
    background-image: url(../images/m7.jpg);
    background-size: cover;
  }

  .navbar-logo {
    height: calc(var(--nex-base-size)*2.5 / (var(--nex-aspect-ratio)));
    max-height: 60px;
  }

  .navbar .navbar-nav li a {
    font-weight: 700;
  }
}



/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

/* // XXX-Large devices (larger desktops, 1800px and up) */
@media (min-width: 1800px) {
  .fs-slide-1 {
    background-image: url(../images/l2.jpg);
    background-size: cover;
  }

  .navbar .navbar-nav li a {
    padding-inline: 20px;
  }
}