* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  display: block;
}

ul, ol, li {
  list-style: none;
}

/* IMPORT FONTES */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');


/* ========VARIABLES ====== */

:root {
  --header-height: 4.5rem;
  --nex-aspect-ratio: 16/9;
  --nex-base-size: calc(1.375rem + 1.5vw);
  /* colors */

  /* HSL color mode */
  /* --base-color-alt: hsl(var(--hue) 57% 53%); */
  --base-color-yellow-first: hsl(45.882, 100%, 50%);
  --base-color-yellow-second: hsl(48.941, 100%, 50%);
  --base-color-yellow-third: hsl(55.059, 100%, 50%);
  --base-color-dark-first: hsl(0, 0%, 9%);
  --base-color-dark-second: hsl(0, 0%, 17%);
  --base-color-dark-third: hsl(0, 0%, 34%);
  --base-color-dark-fourth: hsl(0, 0%, 68%);

  --text-color-light: hsl(0 0% 98%);
  /* FONTS */
  --nex-h1: calc(1.375rem + 1.5vw);
  --nex-h2: calc(1.325rem + 0.9vw);
  --nex-h3: calc(1.3rem + 0.6vw);
  --nex-h4: calc(1.275rem + 0.3vw);
  --nex-p: calc(1rem + 0.1vw);

  --font-one: "Roboto", century;
  --font-two: "Inconsolata", impact;
  --font-three: "Poppins", sans-serif;


}


/* ========== FONTE SIZE ========= */
.nex .h1, h1 {
  font-size: calc(var(--nex-h1)*2.2 / (var(--nex-aspect-ratio)));
}

.nex .h2, h2 {
  font-size: calc(var(--nex-h2)*2.2 / (var(--nex-aspect-ratio)));
}

.nex .h3, h3 {
  font-size: calc(var(--nex-h3)*2.2 / (var(--nex-aspect-ratio)));
}

.nex .h4, h4 {
  font-size: calc(var(--nex-h4)*2.2 / (var(--nex-aspect-ratio)));
}

.nex .p, p {
  font-size: calc(var(--nex-p)*2.2 / (var(--nex-aspect-ratio)));
}


/* ============ NAVIGATION ================ */

.navbar {
  margin-bottom: 0;
  min-height: 75px;
  border-bottom: 1px solid #ececec;
  border-radius: 0;
  background: #fff;
  /* width: 100%; */
}

.navbar-defaut {
  background-color: var(--base-color-dark-fourth);
  border-color: var(--base-color-yellow-first);
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1030;
}

.navbar-trans {
  border-bottom: none;
  background: transparent;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.navbar::before, .navbar-header::before {
  content: " ";
  display: table;
}

.navbar::after, .navbar-header::after {
  content: " ";
  display: table;
  clear: both;
}

nav.black {
  box-shadow: 0px 0px 3px var(--base-color-yellow-first);
  background: var(--base-color-dark-first);
  border-bottom: none;
  transition: all 0.5s;
}

/* logo */
.navbar .navbar-header {
  width: 7%;
}

.navbar-logo {
  padding: calc(var(--nex-base-size)*0.05) 0;
  margin-left: 0;
  float: left;
  font-size: 18px;
  line-height: 20px;
  height: calc(var(--nex-base-size)*2.5 / (var(--nex-aspect-ratio)));
  max-height: 40px;
}

.navbar-logo-branco {
  content: url(../images/logo-navbar-branco.png)
}

.navbar-logo-preto {
  content: url(../images/logo-navbar-preto.png);
  display: none;
}


/* Pages */

.nex-navbar-pages {
  display: block;
  margin-right: 50px;
  margin-left: auto;
}

.nex-navbar-pages ul {
  display: block;
}

.nex-navbar-pages ul li {
  display: inline;
}

.navbar .navbar-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: calc(var(--nex-p)/1.5);
  font-weight: 400;
  letter-spacing: 2px;
  color: #999;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  position: relative;
  padding: 10px 10px;
}

.navbar .navbar-nav li a:hover {
  color: var(--base-color-yellow-first);
}

/*  =============== HOME =============== */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.fs-slide-1 .bg-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(17, 17, 17, 0.7);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.fs-slider-hero .fs-slider .fs-slider-item {
  position: relative;
  width: 100%;
  height: 100vh;
}

.slick-initialized .slick-slide {
  display: block;
}

.fs-slide-1 {
  background-image: url(../images/m7.jpg);
  background-size: cover;
}

.fs-slider-hero .fs-slider .fs-slider-item .bg-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.fs-slider-hero .fs-slider .fs-slider-item .hero-content-wrapper {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.fs-slider-hero .fs-slider .fs-slider-item .hero-content-wrapper .hero-content {
  display: table-cell;
  width: 100%;
  height: 100vh;
  vertical-align: middle;
}

.fs-slide-1 .hero-content {
  text-align: center;
}

.fs-slide-1 .hero-content .hero-subheading {
  margin-top: 100px;
  margin-bottom: 20px;
  color: #999;
}

.h-alt {
  font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
}

.fs-slide-1 .hero-content .hero-lead {
  margin-bottom: 35px;
  font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: 15px;
  color: #ececec;
  text-transform: uppercase;
}

.fs-slide-1 .hero-content .hero-lead span {
  font-weight: 300;
}

.btn-light {
  text-decoration: none;
  color: #111;
  background: #ececec;
}

.btn, .btn-ghost, .btn-ghost-light, .navbar .navbar-nav .dropdown .cart-dropdown .cart-btns .btn-ghost-light, .btn-text, .btn-text-light, .btn-light, .navbar .navbar-nav .dropdown .cart-dropdown .cart-btns .btn-ghost, .navbar .navbar-nav .dropdown .cart-dropdown .cart-btns .btn-light {
  position: relative;
  display: inline-block;
  padding: 8px 38px;
  background: #111;
  color: #ececec;
  font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  line-height: 1.8em;
  border-radius: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 20px;
}


.btn-light:hover {
  border-style: solid;
  background: #111 !important;
  color: var(--base-color-yellow-first) !important;
  box-shadow: 0px 0px 12px var(--base-color-yellow-first);
}